* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:Verdana, "DejaVu Sans", sans-serif;
}

h1 {
  font-family:Verdana, "DejaVu Sans", sans-serif;
  font-size: 40px;
  text-align: center;
}

ul li {
  list-style-type: none;
}

.recipe-list a {
  font-weight: bold;
  text-decoration: none;
  background-color: maroon;
  color:white;
  padding: 40px;
  margin: 30px;
}

.recipe-list li {
  display: inline-block;
  margin-top: 80px;
  margin-left: 85px;
}

.the-recipe {
  margin-left: 300px;
  text-align: center;
}

.home-button a {
  background-color: maroon;
  color: white;
  padding: 100 px;
  text-decoration: none;
}