body {
  font-family:Verdana, "DejaVu Sans", sans-serif;
}

h1 {
  font-family:Verdana, "DejaVu Sans", sans-serif;
  font-size: 40px;
  padding-left: 40px;
}

.recipe-list a {
  font-weight: bold;
  text-decoration: none;
  background-color: maroon;
  color:white;
  padding: 40px;
  margin: 30px;
  display: inline-block;
}

.recipe-list li {
  list-style-type: none;
}

img {
  padding-left: 400px;
}